{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Courtix">
    <meta name="keywords" content="Courtix, court, courtix, courtix, courtix">
    <meta name="author" content="John Kibocha">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Courtix">
    <meta property="og:description" content="Courtix">
    <meta property="og:image" content="{% static 'icons/courtix_logo.png' %}">
    <meta property="og:url" content="http://localhost:8000">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Courtix">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_GB">
    <title>Create Clerk</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

</head>
<body>

<main>

    <section class="form-container">
        <header>Create New Clerk</header>
        <form action="{% url 'admin-create-clerk' %}" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="container image-container">
                <img id="output" class="image-view" width="200" src="{% static 'images/default.png' %}" style="border-radius: 50%"/>
            </div>
            <input type="file" id="profile_image" name="profile_image" accept="image/*" onchange="loadFile(event)"
                   class="form-field form-font">

            <div class="input-box">
                <label>First Name</label>
                <input type="text" name="first_name" placeholder="Enter first name" required
                       class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Last Name</label>
                <input type="text" name="last_name" placeholder="Enter last name" required
                       class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>UserName</label>
                <input type="text" name="username" placeholder="Enter username" required class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter email address" required
                       class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>National ID</label>
                <input type="number" name="national_id" placeholder="Enter ID Number" required
                       class="form-field form-number form-font"/>
            </div>

            <div class="input-box">
                <label>Role</label>
                <select name="role" class="form-field form-dropdown form-font">
                    <option value="clerk" onclick="roleDescription()">Clerk</option>
                </select>
            </div>

            <div class="input-box">
                <label>County of Residence</label>
                <select name="county_of_residence" class="form-field form-dropdown form-font">
                    <option value="" selected disabled>Select your County of Residence</option>
                    {% for county in counties %}
                        <option value="{{ county.0 }}">{{ county.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-box">
                <label>Nationality/Tribe</label>
                <select name="tribe" class="form-field form-dropdown form-font">
                    <option value="" selected disabled>Select your Tribe</option>
                    {% for tribe in tribes %}
                        <option value="{{ tribe.0 }}">{{ tribe.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Phone Number</label>
                    <input type="number" name="phone_number" placeholder="Enter phone number" required
                           class="form-field form-number form-font"/>
                </div>
                <div class="input-box">
                    <label>Birth Date</label>
                    <input type="date" name="date_of_birth" placeholder="Enter birth date" required
                           class="form-field form-date form-font"/>
                </div>
            </div>
            <div class="form-radio-box">
                <h3>Gender</h3>
                <div class="radio-option">
                    <div class="radio">
                        <input type="radio" id="check-male" name="gender" value="male" checked
                               class="form-field form-radio form-font"/>
                        <label for="check-male">male</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="check-female" name="gender" value="female"
                               class="form-field form-radio form-font"/>
                        <label for="check-female">Female</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="check-other" name="gender" value="prefer not to say"
                               class="form-field form-radio form-font"/>
                        <label for="check-other">prefer not to say</label>
                    </div>
                </div>
            </div>

            <div class="input-box">
                <label>Assigned Court</label>
                <select name="courts" class="form-field form-dropdown form-font">
                    <option value="" selected disabled>Select Court</option>
                    {% for court in court_objects %}
                        <option value="{{ court.id }}">{{ court.name }} ({{ court.location }})</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Address -->

            <div class="input-box">
                <label>Postal Code</label>
                <input type="text" name="postal_code" placeholder="Enter postal code" required
                       class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Town/City</label>
                <input type="text" name="town_city" placeholder="Enter town/city" required
                       class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Building Name</label>
                <input type="text" name="building_name" placeholder="Enter building name" class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Floor Number</label>
                <input type="text" name="floor_number" placeholder="Enter floor number" class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Street Name</label>
                <input type="text" name="street_name" placeholder="Enter street name" class="form-field form-font"/>
            </div>

            <div class="input-box">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required
                       class="form-field form-font"/>
            </div>
            <div class="input-box">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" placeholder="Confirm password" required
                       class="form-field form-font"/>
            </div>
            <button class="form-field form-submit form-font">Submit</button>
        </form>
    </section>
</main>

<div class="toast-container">
    {# show any toast messages available #}
    {% if messages %}
        {% for message in messages %}
            {% if 'toast' in message.tags %}
                <script>
                    toast = new Toast('{{ message }}');
                    toast.show();
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<script>



    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            {# set the image to 50% border radius #}
            output.style.borderRadius = '50%';
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('form').addEventListener('submit', function (e) {
            // Phone number validation
            var phoneNumberInput = document.querySelector('input[name="phone_number"]');
            if (!isValidPhoneNumber(phoneNumberInput.value)) {
                alert('Invalid phone number format. It should be in the format: 0123456789 or 0712345678.');
                e.preventDefault();
                return;
            }

            // National ID validation
            var nationalIdInput = document.querySelector('input[name="national_id"]');
            if (!isValidNationalId(nationalIdInput.value)) {
                alert('National ID must be 8-13 digits.');
                e.preventDefault();

            }
        });
    });

    function isValidPhoneNumber(phoneNumber) {
        {#    phone number must be 10 digits starting with 01 or 07#}
        return /^(01|07)\d{8}$/.test(phoneNumber);
    }

    function isValidNationalId(nationalId) {
        return /^\d{8,13}$/.test(nationalId);
    }

    {#  create a function that listens for the selected drop down in the name='role'  and issues a toast explaining what each role is #}

    function roleDescription() {
        var role = document.querySelector('select[name="role"]').value;
        var description = '';
        if (role === 'clerk') {
            description = 'A clerk is a person who is responsible for the administrative work of a court, including keeping records and accounts, and assisting the judge and other officials.';
        }

        toast = new Toast(description);
        toast.show();
    }


</script>
</body>
</html>

