{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Courtix">
    <meta name="keywords" content="Courtix, court, courtix, courtix, courtix">
    <meta name="author" content="John Kibocha">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Courtix">
    <meta property="og:description" content="Courtix">
    <title>Case Proceeding Editor</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css"/>
    {#  link to quill.js library  #}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
<!-- create-case-proceeding-step2.html -->
<section class="form-container">
    <header>Fill Document Content</header>
    <form id="document-form" action="{% url 'create-case-proceeding' case_id=case.id %}" method="post" class="form">
        {% csrf_token %}

        <input type="hidden" name="step" value="2"> <!-- Add a hidden field for session management -->

        <div class="input-box">
            <label>Document Content</label><br>
            <!-- Create a div for Quill editor -->
            <div id="editor-container"></div>
        </div>

        <button type="submit" class="form-field form-submit form-font">Submit</button>
    </form>
</section>

<script>
    // Initialize Quill editor
    var quill = new Quill('#editor-container', {
        theme: 'snow' // Specify Quill theme
    });

    // Listen for form submission
    document.getElementById('document-form').addEventListener('submit', function(event) {
        // Get HTML content of Quill editor
        var docContent = quill.root.innerHTML;
        // Add content to a hidden input field for submission
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'content');
        hiddenInput.setAttribute('value', docContent);
        document.getElementById('document-form').appendChild(hiddenInput);
    });
</script>

</body>
</html>