{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Courtix">
    <meta name="keywords" content="Courtix, court, courtix, courtix, courtix">
    <meta name="author" content="John Kibocha">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Courtix">
    <meta property="og:description" content="Courtix">
    <meta property="og:image" content="{% static 'icons/courtix_logo.png' %}">
    <meta property="og:url" content="http://localhost:8000">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Courtix">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_GB">
    <title>Make Payment</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="{% static 'scripts/main.js' %}"></script>
</head>
<body>

<main>
    <section class="form-container">
        <header>Make Payment</header>
        <form id="payment-form" method="post" action="{% url 'create-payment' invoice_id=invoice.id %}">
            {% csrf_token %}
            <div class="input-box">
                <label for="defendant_name">Defendant:</label>
                <input type="text" id="defendant_name" name="defendant_name" value="{{ defendant_name }}" class="form-field form-dropdown form-font" required readonly>
            </div>
            <div class="input-box">
                <label for="defendant_phone">Phone Number:</label>
                <input type="text" id="defendant_phone" name="defendant_phone" value="{{ defendant_phone }}" class="form-field form-font" required>
            </div>
            <div class="input-box">
                <label for="invoice_amount">Amount (KES):</label>
                <input type="number" id="invoice_amount" name="invoice_amount" value="{{ invoice_amount }}" class="form-field form-dropdown form-font" required readonly>
            </div>
            <div class="input-box">
                <label for="account_reference">Reference:</label>
                <input type="text" id="account_reference" name="account_reference" value="{{ account_reference }}" class="form-field form-dropdown form-font" required readonly>
            </div>
            <div class="input-box">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" value="{{ description }}" class="form-field form-dropdown form-font" required readonly>
            </div>
            <button type="submit" class="form-field form-submit form-font">Submit</button>
        </form>
    </section>
</main>


<div class="toast-container">

    {# show any modal messages available #}
    <div class="modal-container">
        <div class="modal">
            {% if messages %}
                {% for message in messages %}
                    {% if 'modal' in message.tags %}
                        <script>
                            infoDialog('{{ message }}');
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {# show any toast messages available #}
    {% if messages %}
        {% for message in messages %}
            {% if 'toast' in message.tags %}
                <script>
                    toast = new Toast('{{ message }}');
                    toast.show();
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            {# set the image to 50% border radius #}
            output.style.borderRadius = '50%';
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</body>
</html>