{% extends 'sidebar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">
    {% block tab_title %}
        Dashboard
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <style>
        .card-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .card {
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            margin: 10px;
            padding: 30px; /* increased padding */
            flex: 1 0 21%; /* this will make the cards responsive */
            box-sizing: border-box;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-title {
            font-size: 1.5em; /* increased font size */
            margin-bottom: 10px;
        }

        .card-icon {
            font-size: 2em; /* icon size */
            text-align: center; /* center the icon */
            margin-bottom: 15px; /* space between the icon and the title */
        }

        .card-text {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

<article aria-label="main-content">

    {% block search_container %}

    {% endblock %}

    {% block title %}
        Dashboard
    {% endblock %}

    {% block content %}
    {% if user_info.role == 'admin' %}
        <div class="card-container">
            <div class="card" onclick="location.href='{% url 'admin-manage-clerk' %}'">
                <i class="card-icon fas fa-user-tie"></i>
                <h5 class="card-title">Manage Clerks</h5>
                <p class="card-text">Total Clerks: {{ clerks.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'admin-manage-judge' %}'">
                <i class="card-icon fas fa-user-tie"></i>
                <h5 class="card-title">Manage Judges</h5>
                <p class="card-text">Total Judges: {{ judges.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'admin-manage-court' %}'">
                <i class="card-icon fas fa-building"></i>
                <h5 class="card-title">Manage Courts</h5>
                <p class="card-text">Total Courts: {{ courts.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-profile' user_id=request.user.id %}'">
                <i class="card-icon fas fa-user"></i>
                <h5 class="card-title">Manage Profile</h5>
                <p class="card-text">Click to change your profile details</p>
            </div>
            <div class="card" onclick="location.href='{% url 'clerk-manage-participant' %}'">
                <i class="card-icon fas fa-users"></i>
                <h5 class="card-title">Manage Participants</h5>
                <p class="card-text">Total Participants: {{ participants.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-payment' %}'">
                <i class="card-icon fas fa-dollar-sign"></i>
                <h5 class="card-title">Manage Transactions</h5>
                <p class="card-text">Total Transactions: {{ transactions.count }}</p>
            </div>
        </div>
    {% elif user_info.role == 'clerk' %}
        <div class="card-container">
            <div class="card" onclick="location.href='{% url 'manage-invoice' %}'">
                <i class="card-icon fas fa-file-invoice"></i>
                <h5 class="card-title">Manage Invoices</h5>
                <p class="card-text">Total Invoices: {{ invoices.count }}</p>
            </div>
            <div class="card">
                <i class="card-icon fas fa-check-circle"></i>
                <h5 class="card-title">View Case Documents</h5>
                <p class="card-text">Total Documents: {{ case_documents.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-profile' user_id=request.user.id %}'">
                <i class="card-icon fas fa-user"></i>
                <h5 class="card-title">Manage Profile</h5>
                <p class="card-text">Click to change your profile details</p>
            </div>
            <div class="card" onclick="location.href='{% url 'clerk-manage-case' %}'">
                <i class="card-icon fas fa-gavel"></i>
                <h5 class="card-title">Manage Cases</h5>
                <p class="card-text">Total Cases: {{ cases.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'clerk-manage-participant' %}'">
                <i class="card-icon fas fa-users"></i>
                <h5 class="card-title">Manage Participants</h5>
                <p class="card-text">Total Participants: {{ participants.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-payment' %}'">
                <i class="card-icon fas fa-dollar-sign"></i>
                <h5 class="card-title">Manage Transactions</h5>
                <p class="card-text">Total Transactions: {{ transactions.count }}</p>
            </div>
        </div>
    {% elif user_info.role == 'judge' or user_info.role == 'lawyer' or user_info.role == 'participant' %}
        <div class="card-container">
            <div class="card" onclick="location.href='{% url 'manage-invoice' %}'">
                <i class="card-icon fas fa-file-invoice"></i>
                <h5 class="card-title">Manage Invoices</h5>
                <p class="card-text">Total Invoices: {{ invoices.count }}</p>
            </div>
            <div class="card">
                <i class="card-icon fas fa-check-circle"></i>
                <h5 class="card-title">View Case Documents</h5>
                <p class="card-text">Total Documents: {{ case_documents.count }}</p>
            </div>
            <div class="card">
                <i class="card-icon fas fa-building"></i>
                <h5 class="card-title">View Courts</h5>
                <p class="card-text">Total Courts: {{ courts.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'clerk-manage-case' %}'">
                <i class="card-icon fas fa-gavel"></i>
                <h5 class="card-title">Manage Cases</h5>
                <p class="card-text">Total Cases: {{ cases.count }}</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-profile' user_id=request.user.id %}'">
                <i class="card-icon fas fa-user"></i>
                <h5 class="card-title">Manage Profile</h5>
                <p class="card-text">Click to change your profile details</p>
            </div>
            <div class="card" onclick="location.href='{% url 'manage-payment' %}'">
                <i class="card-icon fas fa-dollar-sign"></i>
                <h5 class="card-title">View Transactions</h5>
                <p class="card-text">Total Transactions: {{ transactions.count }}</p>
            </div>
        </div>
    {% endif %}
    {% endblock %}
</article>


<div class="container">
    {# show any toast messages available #}
    {% if messages %}
        {% for message in messages %}
            <script>
                const toast = new Toast('{{ message }}');
                toast.show();
            </script>
        {% endfor %}
    {% endif %}
</div>

<script>
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('click', () => {
            window.location = card.getAttribute('data-url');
        });
    });
</script>

</body>
</html>